
.toolbar-background{
    background-color: #3880ff;
}
.info{
    box-shadow: 3px 3px 4pc #ccc;
    -webkit-box-shadow: 3px 3px 4px #ccc;
    -moz-box-shadow: 3px 3px 4px #ccc;
    background-color: #ffffff;
    border: 1px solid #ccc;
    height: 20%;
    padding: 10px;
    background-color: #3880ff;
}
.ir{
    position:absolute; top: 30%;left: 90%;
    color: #ADAEAF;
}
.textito{
    padding: 10%;
    font-size: 80%;
}

.send{
   bottom: 0;
   margin: auto;
   color: #3880ff;
}

.card2{
    width: 80%;
    float:right;
    background-color: #dcf8c6;
    height: 80%;
}
.letras1{
    color: black;
}
.mas{
    position: absolute;
    left: 80%;
    top: 60%;
    bottom:10px;
    padding-left: 10px;
    padding-right: 10px
}

.botones{
    width: 30%;
 }
 .div1{
  position: relative;
  top: 55%;
 }
 .ok{
    height: 95%;
 }
    




