

<ion-content >
  <ion-list class="ion-padding">
      <ion-item lines="none" >
          <ion-input type="text" class="input-registro" [(ngModel)]="contrasena"  placeholder="Contraseña" ></ion-input>
        </ion-item>
        <ion-item lines="none" >
            <ion-input type="text" class="input-registro" [(ngModel)]="confirma" placeholder="Confirma tu contraseña"></ion-input>
          </ion-item>
          <ul>
              <li>
                   El número que proporciones servirá para que tu y tus contactos puedan realizar transacciones.
              </li>
              <li>
                Tus amigos y contactos podran encontrarte mediante el número que proporciones
              </li>
            </ul>
  </ion-list>
  <div class="btn-siguiente" text-center>
      <ion-button (click)="guardarphone()">
          Siguiente
      </ion-button>
  </div>
</ion-content>
