<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
        </ion-buttons>
    <ion-item lines="none" color="primary">
        <ion-icon name="cash" class="icono" slot="start"></ion-icon>
      <ion-label>Codigo Personal</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding color="primary">
  <ion-list class="ion-no-padding">
    <ion-item lines="none" text-center>
      <ion-label class="ion-no-margin">{{usuario.correo}}</ion-label>
      </ion-item>
      <ngx-qrcode [qrc-value]="createdCode" qrc-class="test-class"></ngx-qrcode>
      <ion-item text-right lines="none">
        <ion-label class="ion-no-margin" routerLink="/cobroqr">+Agregar monto</ion-label>
      </ion-item>
  </ion-list>
</ion-content>
